<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NEWProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.tech.blog.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tech.blog.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.tech.blog.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>com.tech.blog.servlet.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEmpServlat</display-name>
    <servlet-name>ShowEmpServlat</servlet-name>
    <servlet-class>ShowEmpServlat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmpServlat</servlet-name>
    <url-pattern>/ShowEmpServlat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEmpServlet</display-name>
    <servlet-name>ShowEmpServlet</servlet-name>
    <servlet-class>ShowEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmpServlet</servlet-name>
    <url-pattern>/ShowEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMSServlet</display-name>
    <servlet-name>SMSServlet</servlet-name>
    <servlet-class>SMSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSServlet</servlet-name>
    <url-pattern>/SMSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QrcodeServlet</display-name>
    <servlet-name>QrcodeServlet</servlet-name>
    <servlet-class>QrcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QrcodeServlet</servlet-name>
    <url-pattern>/QrcodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QrcodeServlet1</display-name>
    <servlet-name>QrcodeServlet1</servlet-name>
    <servlet-class>QrcodeServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QrcodeServlet1</servlet-name>
    <url-pattern>/QrcodeServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CurrencyConverterServlet</display-name>
    <servlet-name>CurrencyConverterServlet</servlet-name>
    <servlet-class>CurrencyConverterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrencyConverterServlet</servlet-name>
    <url-pattern>/CurrencyConverterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteImages</display-name>
    <servlet-name>deleteImages</servlet-name>
    <servlet-class>deleteImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteImages</servlet-name>
    <url-pattern>/deleteImages</url-pattern>
  </servlet-mapping>
</web-app>